@using WeddingVeneus1.Areas.City.Models;
@model CityModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Form Layouts</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Layouts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Horizontal Form</h5>

                    <!-- Horizontal Form -->
                    <form asp-area="City" asp-controller="City" asp-action="Save" enctype="multipart/form-data">
                        <div class="row mb-3">

                            <label class="ms-2">State Name</label>
                            <div class="col-sm-10">
                                <select class="form-select" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))">

                                    <option value="">Select State</option>
                                </select>
                                <span asp-validation-for="StateID" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <input asp-for="CityID" hidden />
                            <label asp-for="CityName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="CityName" class="form-control" id="inputText">
                            </div>
                            <span asp-validation-for="CityName" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            
                            <label asp-for="PhotoPath" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="file" asp-for="File" class="form-control" id="inputText">
                            </div>
                            <span asp-validation-for="PhotoPath" class="text-danger"></span>
                        </div>



                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <button type="reset" class="btn btn-secondary">Reset</button>
                        </div>
                    </form><!-- End Horizontal Form -->

                </div>
            </div>
            </div>
            </div>
            </section>
            @section Scripts{
                @{
                    <partial name="_ValidationScriptsPartial" />
                }
            }
