@using WeddingVeneus1.Areas.EventAreas.Models;
@model EventAreasModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pagetitle">
    <h1>Form Layouts</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Forms</li>
            <li class="breadcrumb-item active">Layouts</li>
        </ol>
    </nav>
</div><!-- End Page Title -->
<section class="section">
    <div class="row">
        <div class="col-lg-6">

            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Horizontal Form</h5>

                    <!-- Horizontal Form -->
                    <!-- Your existing form -->
                    <form asp-area="EventAreas" asp-controller="Event" asp-action="Save" id="mainForm">
                        <!-- Existing form fields -->
                        <div class="row mb-3">

                            <label class="ms-2">Venue Name</label>
                            <div class="col-sm-10">
                                <select class="form-select" asp-for="VenueID" asp-items="@(new SelectList(ViewBag.VenueList,"VenueID","VenueName"))">

                                    <option value="">Select Venue</option>
                                </select>
                                <span asp-validation-for="VenueID" class="text-danger"></span>

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="AreaName" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="AreaName[0]" class="form-control" id="inputText">
                            </div>
                            <span asp-validation-for="AreaName[0]" class="text-danger"></span>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="AreaType" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="AreaT[0]" class="form-control" />
                                <span asp-validation-for="AreaT[0]" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="SittingCapacity" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="SittingC[0]" class="form-control" />
                                <span asp-validation-for="SittingC[0]" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label asp-for="FloatingCapacity" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="FloatingC[0]" class="form-control" />
                                <span asp-validation-for="FloatingC[0]" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Container to hold dynamically added fields -->
                        <div id="dynamicFieldsContainer"></div>

                        <!-- Add button to trigger dynamic addition of fields -->
                        <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" class="btn btn-secondary" id="addButton">Add More Event Areas</button>
                        
                        <a class="btn btn-success" asp-area="Photos" asp-controller="Photos" asp-action="Create">Add Photos</a>
                        </div>
                    </form>


                </div>
            </div>
            @section Scripts{
                @{
                    <partial name="_ValidationScriptsPartial" />
                  }
                <script>
                    $(document).ready(function () {
                        let counter = 1; // Initialize a counter for unique field names

                        $("#addButton").on("click", function () {
                            var newFields = `
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                        <input type="text" asp-for="AreaName" class="form-control" name="AreaName[${counter}]" />
                                        </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="AreaT" class="form-control" name="AreaT[${counter}]" />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="SittingC" class="form-control" name="SittingC[${counter}]" />
                                        </div>
                                    </div>
                                    <div class="row mb-3">
                                        <label class="col-sm-2 col-form-label"></label>
                                        <div class="col-sm-10">
                                            <input type="text" asp-for="FloatingC class="form-control" name="FloatingC[${counter}]" />
                                        </div>
                                    </div>`;

                            $("#dynamicFieldsContainer").append(newFields);

                            counter++; // Increment counter for the next set of fields
                        });
                    });
                </script>



                

            }

